@media (max-width: 1180px) {
  .portfolio__items {
    justify-content: space-around;
  }
}

@media (max-width: 900px) {
  .header {
    margin-top: 0;
  }
  .header__inner {
    position: absolute;
  }
  .menu__btn {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 24px;
    border: none;
    border-top: 3px solid #75abd6;
    border-bottom: 3px solid #75abd6;
    background-color: transparent;
    position: relative;
    z-index: 5;
    outline: none;
    left: 50px;
  }

  .menu__btn::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #75abd6;
    left: 0;
    top: 9px;
  }

  .menu__list.menu__list--active {
    transform: translateY(0);
    z-index: 1;
  }

  .menu {
    z-index: 9;
  }

  .menu__list {
    display: block;
    position: absolute;
    top: 0;
    margin-left: 0;
    left: 0;
    right: 0;
    background-color: #243968;
    text-align: center;
    padding: 65px 0;
    transform: translateY(-500px);
    transition: all 0.5s;
  }

  .menu__item {
    padding: 0;
  }

  .menu__list-link {
    display: block;
    width: 100%;
    padding: 15px 0;
  }

  img.mfp-img {
    width: 450px;
  }

  .tabs {
    flex-wrap: wrap;
    gap: 20px;
  }

  .tabs .titulo__title {
    width: 100%;
  }

  h3.active {
    padding-right: 0;
  }

  h3.active::after {
    display: none;
  }

  .portfolio {
    padding-bottom: 50px;
  }

  .videos,
  .certificad,
  .footer {
    padding: 50px 0;
  }

  .videos::before {
    top: -295px;
  }
  .hero-content h1 {
    margin-top: 0;
  }

  h2 {
    font-size: 22px;
  }

  .header-content {
    width: 100%;
    margin: 0 auto;
  }

  h1 {
    font-size: 30px;
    line-height: 40px;
    margin: 0px 0 15px -100px;
  }

  h1 span {
    font-size: 22px;
  }

  .header-content p {
    font-size: 18px;
    line-height: 28px;
  }

  h2 {
    margin: 0px 0 25px 0;
  }
}

@media (max-width: 690px) {
  .hero-content h1 {
    font-size: 40px;
    margin-left: -55px;
  }

  h2 {
    font-size: 22px;
  }

  /* .hero-content__p {
    font-size: 18px;
    line-height: 26px;
  } */

  .menu__list-link {
    font-size: 20px;
  }

  /* .habilidades img {
    width: 92px;
    height: 60px;
  } */

  h3,
  h3.active {
    font-size: 20px;
  }

  .videos::before {
    right: 0;
  }

  .videos__inner p,
  .videos-btn a,
  .videos-btn a span {
    font-size: 18px;
    line-height: 20px;
  }
  /* .hero-content__p p {
    margin-bottom: 0px;
  } */

  /* .menu__btn {
    border-top: 3px solid #070807;
    border-bottom: 3px solid #070807;
  }

  .menu__btn::before {
    height: 3px;
    background-color: #070807;
  } */
}

@media (max-width: 540px) {
  .hero-content h1 {
    /* margin-top: -70px; */
    line-height: 45px;
  }
  .portfolio__item {
    width: 305px;
    height: 550px;
  }

  .portfolio__img {
    width: 305px;
    height: 550px;
  }

  img.mfp-img {
    width: 350px;
  }

  .portfolio {
    padding-bottom: 40px;
  }

  .video__item,
  .video__img {
    width: 341px;
    height: 220px;
  }

  .footer__menu-email a,
  .footer__menu-phone a,
  .footer__menu-list li {
    font-size: 16px;
  }
  .habilidades img {
    width: 70px;
    height: 45px;
  }

  .hero-content h1 {
    font-size: 34px;
    margin-bottom: 10px;
    /* margin-top: -35px; */
  }

  .hero-content__p {
    margin-top: 50px;
    /* width: 90%; */
    font-size: 18px;
    /* line-height: 24px;
    margin-bottom: 5px; */
  }

  .menu__list-link {
    font-size: 22px;
    padding: 10px 0;
  }

  .menu__list {
    padding: 45px 0;
  }
}

@media (max-width: 420px) {
  .hero-content h1 {
    /* font-size: 26px; */
    margin-bottom: 15px;
    margin-left: 0;
  }

  .hero-content h1 span {
    /* font-size: 20px; */
    margin-left: 0;
  }

  h2 {
    font-size: 20px;
  }

  .hero-content__p {
    width: 90%;
    font-size: 18px;
    line-height: 24px;
  }

  h3,
  h3.active {
    font-size: 18px;
  }

  .tabs {
    gap: 15px;
  }

  .portfolio,
  .videos,
  .certificad,
  .footer {
    padding: 50px 0;
  }

  .habilidades img {
    width: 45px;
    height: 30px;
  }
  .layer-5 {
    display: none;
  }

  .portfolio__img {
    width: 265px;
    height: 500px;
  }
  .portfolio__item {
    width: 265px;
    height: 500px;
  }
  img.mfp-img {
    width: 265px;
  }

  .video__item,
  .video__img {
    width: 285px;
    height: 200px;
  }

  .footer__menu-email a,
  .footer__menu-phone a,
  .footer__menu-list li {
    font-size: 14px;
  }

  .header-content p {
    font-size: 16px;
    line-height: 20px;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h1 span {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  .menu__btn {
    left: 10px;
  }
}
