* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: kamerik-3d;
  src: url(../fonts/kamerik205-heavy.woff2);
  font-weight: 900;
}
@font-face {
  font-family: merriweather-italic-3d;
  src: url(../fonts/merriweather-regular-italic.woff2);
}
body {
  background-color: #000;
  color: #fff;
  font-family: kamerik-3d;
}

.header {
  perspective: 1000px;
  overflow: hidden;
}

.header__container {
  height: 100vh;
  min-height: 500px;
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  will-change: transform;
  transition: transform 1.5s cubic-bezier(0.05, 0.5, 0, 1);
}
.header__item {
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer-1 {
  transform: translateZ(-55px) scale(1.06);
}
.layer-2 {
  transform: translateZ(80px) scale(0.88);
}
.layer-3 {
  transform: translateZ(180px) scale(0.8);
}
.layer-4 {
  transform: translateZ(190px) scale(0.9);
}
.layer-5 {
  transform: translateZ(300px) scale(0.9);
}
.layer-6 {
  transform: translateZ(380px);
}

.hero-content {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-content h1 {
  font-size: 40px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: normal;
  color: #fffe84;
  text-shadow: 2px 2px #333;
  margin: 90px 0 15px -200px;
}

.hero-content h1 span {
  display: block;
  font-family: merriweather-italic-3d;
  font-size: 28px;
  color: #8bff84;
  margin-left: 200px;
}

h2 {
  text-align: center;
  font-family: merriweather-italic-3d;
  font-size: 25px;
  color: #fffcb2;
  margin-bottom: 25px;
  text-shadow: 2px 2px #333;
}

.hero-content__p {
  width: 80%;
  text-transform: none;
  font-family: merriweather-italic-3d;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  text-shadow: 2px 2px #333;
  margin: 0 auto;
}

.hero-content__p p {
  margin-bottom: 10px;
  /* text-indent: 30px; */
}

.hero-content__p a,
.menu__list .menu__item-6 a {
  color: #cfd966;
  text-decoration: none;
}

.layer-4,
.layer-5,
.layer-6 {
  pointer-events: none;
}

/* header__inner */
.menu__list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-left: 80px;
}

.menu__list-link {
  font-size: 26px;
  letter-spacing: 0.6px;
  /* color: #74cf1f; */
  /* color: #b6f355; */
  color: #b9ff49;
  /* color: #a6e442; */
  /* color: #9dff00; */
  text-decoration: none;
  text-shadow: -2px 2px #333;
}

.menu__list-link:hover {
  color: #0ab111;
}

.menu__btn {
  display: none;
}

.habilidades-box {
  padding: 30px 0;
  background: #0e2b0e;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0 30px;
}

.habilidades img {
  width: 80px;
  height: 60px;
  border-radius: 5px;
  opacity: 0.8;
}

/* portfolio */
.portfolio,
.videos,
.certificad,
.footer {
  height: auto;
  padding: 100px 0;
  background: linear-gradient(to bottom, #0e2b0e 0%, #589d5859 50%, #0e2b0e 100%);
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}

h3 {
  font-size: 22px;
  color: #0ab111;
  text-shadow: -2px 2px #333;
  text-align: center;
  cursor: pointer;
}

h3.active {
  color: #d7d661;
  text-shadow: 2px 2px #333;
  font-size: 24px;
  position: relative;
  padding-right: 25px;
}

h3.active::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #d7d661;
}

.portfolio__inner {
  z-index: 8;
  position: relative;
}

.tabs {
  display: flex;
  gap: 60px;
  text-align: center;
  justify-content: center;
}

.portfolio__items.tab-item.active-tab {
  display: flex;
}
.portfolio__items.tab-item {
  display: none;
}

.portfolio__items {
  margin-top: 60px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.portfolio__item {
  width: 355px;
  height: 600px;
  position: relative;
  margin: 0 16px 60px;
  border: 1px solid #2b5f2d;
  box-shadow: 4px 4px 8px 0px #0e5510;
}
.portfolio__item span {
  position: absolute;
  top: 45%;
  font-size: 36px;
  line-height: 42px;
  padding: 25px 70px 25px;
  background-color: #6aa786;
  color: #f8f7f7;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
}

.portfolio__item:hover span {
  opacity: 1;
}

.portfolio__item:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(196, 199, 197, 0.575);
}

.portfolio__img {
  width: 100%;
}

/* videos__inner */
.videos__inner p {
  font-family: merriweather-italic-3d;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: normal;
  text-align: center;
  text-shadow: 2px 2px #333;
  margin: 35px 0;
}

.videos__items {
  margin-top: 60px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.video__item {
  width: 355px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
}

.video__item span {
  top: 30%;
}

.videos-btn {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.videos-btn a {
  font-family: merriweather-italic-3d;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: normal;
  text-align: center;
  color: #e2e2e2;
  text-shadow: 2px 2px #333;
  text-decoration: none;
  cursor: pointer;
}

.videos-btn a span {
  font-family: merriweather-italic-3d;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: normal;
  text-align: center;
  text-shadow: 2px 2px #333;
  color: #cfd966;
  position: relative;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}

.videos-btn a span::after {
  content: "";
  position: absolute;
  background: #cfd966;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
}

/* certificad */
.certificados__box {
  margin-top: 60px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.certificados__btn {
  width: 45px;
  height: 45px;
  display: block;
}

.certificados__img {
  width: 300px;
  height: 201px;
  margin: 0 45px 60px;
  border-radius: 0;
}

.certificados__btn-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.footer__inner {
  z-index: 5;
  position: relative;
}

.footer__menu-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 30px;
}

.footer__menu-email a,
.footer__menu-phone a,
.footer__menu-list li {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: #e2e2e2;
  text-shadow: 2px 2px #333;
}

.portfolio::before {
  content: "";
  position: absolute;
  background-image: url(../images/layer-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 1400px;
  top: -331px;
}

.videos::before {
  content: "";
  position: absolute;
  background-image: url(../images/layer-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 1106px;
  top: -269px;
  right: -117px;
}

.footer::before {
  content: "";
  position: absolute;
  background-image: url(../images/layer-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 703px;
  top: -167px;
}
