* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: kamerik-3d;
  src: url(../fonts/kamerik205-heavy.woff2);
  font-weight: 900;
}
@font-face {
  font-family: merriweather-italic-3d;
  src: url(../fonts/merriweather-regular-italic.woff2);
}

@font-face {
  font-family: Poppins-regular;
  src: url(../fonts/Poppins-Regular.woff2);
}

@font-face {
  font-family: Poppins-medium;
  src: url(../fonts/Poppins-Medium.woff2);
}

@font-face {
  font-family: Poppins-semiBold;
  src: url(../fonts/Poppins-SemiBold.woff2);
}

@font-face {
  font-family: Poppins-bold;
  src: url(../fonts/Poppins-Bold.woff2);
}

@font-face {
  font-family: Poppins-extraBold;
  src: url(../fonts/Poppins-ExtraBold.woff2);
}

@font-face {
  font-family: Poppins-black;
  src: url(../fonts/Poppins-Black.woff2);
}

body {
  font-family: Poppins-regular;
  background-color: #000;
  color: #fff;
  font-family: kamerik-3d;
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

/* start header */
.header {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  height: calc(100vh - 60px);
  overflow: hidden;
  /* padding-top: 80px; */
  margin-top: 60px;
}

.layer-4 {
  position: absolute;
  top: 0;
}

/* start header__inner */
.header__inner {
  display: flex;
  padding: 15px 0 15px 0;
  align-items: center;
  justify-content: space-around;
  background-color: #243968;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
}

.logo {
  font-family: Poppins-semiBold;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-shadow: -2px 2px #333;
  color: #fff;
  font-size: 16px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 15px;
}

.menu__list {
  display: flex;
  gap: 25px;
  justify-content: space-around;
  list-style: none;
  /* margin-left: 80px; */
}

.menu__list-link {
  font-family: Poppins-semiBold;
  font-size: 18px;
  letter-spacing: 0.6px;
  color: #fff;
  text-decoration: none;
  text-shadow: -2px 2px #333;
  position: relative;
  padding-bottom: 8px;
}
.menu__list-link.menu__list-link--active {
  color: #4f7bd8;
}

.menu__list-link.menu__list-link--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #75abd6;
  left: 0;
  bottom: 0;
}

.menu__list-link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #75abd6;
  left: 0;
  bottom: 0;
}

.menu__list-link:hover {
  color: #4984b3;
}

.menu__btn {
  display: none;
}

/* start header-banner */
.header-banner {
  position: relative;
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  /* height: 100vh; */
}

h1 {
  font-size: 40px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: normal;
  color: #fffe84;
  text-shadow: 2px 2px #333;
  margin: 0px 0 15px -200px;
}

h1 span {
  display: block;
  font-family: merriweather-italic-3d;
  font-size: 28px;
  color: #8bff84;
  margin-left: 200px;
}

h2 {
  text-align: center;
  font-family: merriweather-italic-3d;
  font-size: 25px;
  color: #fffcb2;
  margin: 15px 0 50px 0;
  text-shadow: 2px 2px #333;
}

.header-content {
  width: 80%;

  margin: 0 auto;
}

.header-content p {
  margin-bottom: 10px;
  font-family: merriweather-italic-3d;
  font-size: 20px;
  line-height: 38px;
  letter-spacing: normal;
  text-align: center;
  text-shadow: 2px 2px #333;
}

.header-content a {
  color: #cfd966;
  text-decoration: none;
}

/* start habilidades */
.habilidades-box {
  padding: 30px 0;
  background: #08101c;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0 30px;
}

.habilidades img {
  width: 80px;
  height: 60px;
  border-radius: 5px;
  opacity: 0.8;
}

/* portfolio */
.portfolio,
.videos,
.certificad,
.footer {
  height: auto;
  padding: 100px 0;
  /* background: linear-gradient(to bottom, #0e2b0e 0%, #589d5859 50%, #0e2b0e 100%); */
  background: linear-gradient(to bottom, #08101c 0%, #4c6c9e8f 50%, #08101c 100%);
  position: relative;
  overflow: hidden;
}

.titulo__title {
  font-family: Poppins-semiBold;
  font-size: 18px;
  color: #0ab111;
  text-shadow: -2px 2px #333;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #514f4f;
  padding: 10px 24px;
  background: #333;
}

.titulo__title.active {
  color: #d7d661;
  text-shadow: 2px 2px #333;
  font-size: 18px;
  position: relative;
  padding-right: 40px;
}

.titulo__title.active::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #d7d661;
}

h3 {
  font-size: 22px;
  color: #0ab111;
  text-shadow: -2px 2px #333;
  text-align: center;
  cursor: pointer;
}

.portfolio__inner {
  z-index: 4;
  position: relative;
}

.tabs {
  display: flex;
  gap: 60px;
  text-align: center;
  justify-content: center;
}

.portfolio__items.tab-item.active-tab {
  display: flex;
}
.portfolio__items.tab-item {
  display: none;
}

.portfolio__items {
  margin-top: 60px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  width: 355px;
  height: 600px;
  position: relative;
  margin: 0 16px 60px;
  border: 1px solid #2b5f2d;
  box-shadow: 4px 4px 8px 0px #0e5510;
  /* overflow: hidden; */
}

.portfolio__item span {
  position: absolute;
  top: 45%;
  font-size: 36px;
  line-height: 42px;
  padding: 25px 70px 25px;
  background-color: #6aa786;
  color: #f8f7f7;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
}

.portfolio__item:hover span {
  opacity: 1;
}

.portfolio__item:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(196, 199, 197, 0.575);
}

.portfolio__img {
  width: 100%;
}

/* videos__inner */
.videos__inner p {
  font-family: merriweather-italic-3d;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: normal;
  text-align: center;
  text-shadow: 2px 2px #333;
  margin: 35px 0;
}

.videos__items {
  margin-top: 60px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.video__item {
  width: 355px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
}

.video__item span {
  top: 30%;
}

.videos-btn {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.videos-btn a {
  font-family: merriweather-italic-3d;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: normal;
  text-align: center;
  color: #e2e2e2;
  text-shadow: 2px 2px #333;
  text-decoration: none;
  cursor: pointer;
}

.videos-btn a span {
  font-family: merriweather-italic-3d;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: normal;
  text-align: center;
  text-shadow: 2px 2px #333;
  color: #cfd966;
  position: relative;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}

.videos-btn a span::after {
  content: "";
  position: absolute;
  background: #cfd966;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
}

/* certificad */
.certificados__box {
  margin-top: 60px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.certificados__btn {
  width: 45px;
  height: 45px;
  display: block;
}

.certificados__img {
  width: 300px;
  height: 201px;
  margin: 0 45px 60px;
  border-radius: 0;
}

.certificados__btn-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.footer__inner {
  z-index: 5;
  position: relative;
}

.footer__menu-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 30px;
}

.footer__menu-email a,
.footer__menu-phone a,
.footer__menu-list li {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: #e2e2e2;
  text-shadow: 2px 2px #333;
}

.cont {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 150px;
  right: 0px;
  z-index: 1000;
  gap: 20px;
}

.cont img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
